.articles-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;

  .articles-container {
    width: $page-width;
    margin: 0.5rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .articles-section-title {
    width: 100vw;
    // text-decoration: underline;
    p {
      width: 30%;
    }
  }

  @media screen and (max-width: 855px) {
    .articles-container {
      width: 600px;
      justify-content: space-evenly;
    }
  }
}
