<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{- $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "enableSourceMap" "true") -}}
  {{- $styles := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS $options | resources.Fingerprint "sha512" }}
  <title>Courses</title>
  <meta name="title" content="Registering for Courses?" />
  <meta
    name="description"
    content="Before you graduate, the School of Computer Science has tasked you with completing one final assignment. Pay careful attention to the Summer 2021 convocation video and answer the following multiple choice questions to unlock a bonus congratulatory message from the School of Computer Science."
  />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta
    property="og:url"
    content="https://courses.carletoncomputerscience.ca/"
  />
  <meta property="og:title" content="Registering for Courses?" />
  <meta
    property="og:description"
    content="This site is a student currated list of resources and registration information to help you build an awesome time table."
  />
  <meta property="og:image" content="https://i.imgur.com/1ipAmen.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta
    property="twitter:url"
    content="https://courses.carletoncomputerscience.ca/"
  />
  <meta property="twitter:title" content="Registering for Courses?" />
  <meta
    property="twitter:description"
    content="This site is a student currated list of resources and registration information to help you build an awesome time table."
  />
  <meta property="twitter:image" content="https://i.imgur.com/1ipAmen.png" />
  <link
    rel="stylesheet"
    href="{{ $styles.Permalink }}"
    crossorigin="anonymous"
    integrity="{{ $styles.Data.Integrity }}"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous"
  />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap"
    rel="stylesheet"
  />
  <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
</head>
