<!--Lottie Player-->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<!--Header-Component-->
<div class="header-section">
  <div class="header-container">
    <div class="header-left">
      <div class="header-title">Registering for Courses?</div>
      <div class="header-description">
        In publishing and graphic design, Lorem ipsum is a placeholder text
        commonly used to demonstrate the visual form of a document or a
        typeface.
      </div>
    </div>
    <div class="header-right">
      <lottie-player
        src="/lottie/header2.json"
        background="transparent"
        speed="1"
        loop
        autoplay
      ></lottie-player>
    </div>
  </div>
</div>
