<!--Lottie Player-->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<!--Header-Component-->
<div class="header-section">
  <div class="header-container">
    <div class="header-left">
      <div class="header-title">Registering for Courses?</div>
      <div class="header-description">
        This site is a student currated list of resources and registration
        information to help you build an awesome time table.
      </div>
    </div>
    <div class="header-right">
      <lottie-player
        src="/lottie/header2.json"
        background="transparent"
        speed="1"
        loop
        autoplay
      ></lottie-player>
    </div>
  </div>
</div>
