<div class="navbar-section">
  <div class="navbar-container">
    <a href="{{ .Params.ExternalUrl }}/">
      <div class="navbar-logo">
        <img src="{{ "/images/carleton_logo.png" | absURL }}" />
        <div class="navbar-logo-text">Computer Science</div>
      </div>
    </a>
    <div class="navbar-items">
      <a href="{{ .Params.ExternalUrl }}/#articles"><div>Resources</div></a>
      <a href="{{ .Params.ExternalUrl }}/#faq"><div>FAQ</div></a>
      <a
        href="https://github.com/CarletonComputerScienceSociety/courses-project"
        ><div>Contribute</div></a
      >
    </div>
  </div>
</div>
